<br />
<div class="container p-2">
	<div class="mt-12"></div>
</div>

<div class="container p-2">
	<mat-card class="card">
		<div class="location flex justify-start">
			<div>
				<div class="flex flex-col space-y-2 ...">
					<div>
						<span
							><strong>{{ nameLocation }}</strong></span
						>
					</div>
					<div>
						<span>
							Coordinate {{ latitude }} & {{ longitude }} </span
						><br />
					</div>
				</div>
				<div class="temperature">
					<span
						>{{ temperature | temperatureConverter : 'C' }} °C</span
					>
				</div>
				<div>
					<img
						src="http://openweathermap.org/img/wn/{{ icon }}@2x.png"
						alt="Icon"
						class="icon" />
				</div>
				<div>
					<span>
						<strong>{{ mainWeather }}</strong> </span
					><br />
					<span>
						{{ description }}
					</span>
				</div>
			</div>
		</div>
	</mat-card>
</div>
